{% extends "layout.njk" %}

{% block content %}
<h1>PAGE NOT FOUND</h1>
{% endblock content %}

{% block license %}
<div id="license_page-not-found">
    <p>Todos os direitos reservados ao Foodfy</p>
</div>
{% endblock license %}