{% extends "layout.html" %}

    {% block head %}
    <title>Recipes Page</title>
    {% endblock head %}
    
    {% block stylesheet %}
    <link rel="stylesheet" href="/styles/page-recipe.css">
    <link rel="stylesheet" href="/styles/main.css">
    {% endblock stylesheet %}
    
  
    {% block pages %}
    <a href="/page-description.html" target="_blank">About</a>
    <a href="/page-recipe.html" target="_blank">Recipes</a>
    {% endblock pages %}
            
        
    {% block otherContent %}
    <section class="recipes_img"> 
        <h2>Recipes</h2>
        <div class="recipes">
            {% for item in items %}
                <div class="recipe" id="{{item.id}}">
                    <img src="{{item.imgLocation}}" alt="{{item.observation}}">
                    <h3>{{item.recipe}}</h3>
                    <p>{{item.chef}}</p>
                </div>
            {% endfor %}

            {% for item in items %}
                <div class="recipe" id="{{item.id}}">
                    <img src="{{item.imgLocation}}" alt="{{item.observation}}">
                    <h3>{{item.recipe}}</h3>
                    <p>{{item.chef}}</p>
                </div>
            {% endfor %}
        </div>
    </section>
    {% endblock otherContent %}    

    
    {% block modalOverlay %}
    <div class="modal-overlay">
        <div class="modal">
            <a class="close-modal">Close</a>
            <a class="modal-content">
                <img src="" alt="Image">
                <h3>Chicken wings with barbecue</h3>
                <p>By Vania Steroski</p>
            </a>
        </div>
    </div>
    {% endblock modalOverlay %}


    {% block script %}
    <script src="/scripts/recipe.js"></script>
    {% endblock script %}
   
