<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipes Page</title>
    <link rel="stylesheet" href="/styles/page-recipe.css">
    <link rel="stylesheet" href="/styles/main.css">
    
</head>
<body>
     <header class="first_header">
        <div id="header">
            <h2><a href="/views/page-home.html">Foodfy</a></h2>
            <a href="/views/page-description.html" target="_blank">About</a>
            <a href="/views/page-recipe.html" target="_blank">Recipes</a>
        </div>
    </header>

    <section class="recipes_img"> 
        <h2>Recipes</h2>
        <div class="recipes">
            <div class="recipe" id="burger.png">
                <img src="/assets/burger.png" alt="Burger">
                <h3>Tripo becon Buguer</h3>
                <p>By Jorge Relato</p>
            </div>
            <div class="recipe" id="pizza.png">
                <img src="/assets/pizza.png" alt="Pizza 4 Seasons">
                <h3>Pizza 4 Season</h3>
                <p>By Fabiana Melo</p>
            </div>
            <div class="recipe" id="espaguete.png">
                <img src="/assets/espaguete.png" alt="Espaguente">
                <h3>Spaghetti with Tomato Sauce</h3>
                <p>By Júlia Kinoto</p>
            </div>
            <div class="recipe" id="lasanha.png">
                <img src="/assets/lasanha.png" alt="Lasanha">
                <h3>Lasanha mac n'cheese</h3>
                <p>By Juliana Vieira</p>
            </div>
            <div class="recipe" id="doce.png">
                <img src="/assets/doce.png" alt="Docinhos pão-do-céu">
                <h3>Docinho pão-do-céu</h3>
                <p>By Ricardo Golvea</p>
            </div>
            <div class="recipe" id="asinhas.png">
                <img src="/assets/asinhas.png" alt="Asinha de Frango">
                <h3>Chicken wings with barbecue</h3>
                <p>By Vania Steroski</p>
            </div>
            
            <div class="recipe" id="burger.png">
                <img src="/assets/burger.png" alt="Burger">
                <h3>Tripo becon Buguer</h3>
                <p>By Jorge Relato</p>
            </div>
            <div class="recipe" id="pizza.png">
                <img src="/assets/pizza.png" alt="Pizza 4 Seasons">
                <h3>Pizza 4 Season</h3>
                <p>By Fabiana Melo</p>
            </div>
            <div class="recipe" id="espaguete.png">
                <img src="/assets/espaguete.png" alt="Espaguente">
                <h3>Spaghetti with Tomato Sauce</h3>
                <p>By Júlia Kinoto</p>
            </div>
            <div class="recipe" id="lasanha.png">
                <img src="/assets/lasanha.png" alt="Lasanha">
                <h3>Lasanha mac n'cheese</h3>
                <p>By Juliana Vieira</p>
            </div>
            <div class="recipe" id="doce.png">
                <img src="/assets/doce.png" alt="Docinhos pão-do-céu">
                <h3>Docinho pão-do-céu</h3>
                <p>By Ricardo Golvea</p>
            </div>
            <div class="recipe" id="asinhas.png">
                <img src="/assets/asinhas.png" alt="Asinha de Frango">
                <h3>Chicken wings with barbecue</h3>
                <p>By Vania Steroski</p>
            </div>
        </div>
    </section>

    <div class="modal-overlay">
        <div class="modal">
            <a class="close-modal">Close</a>
            <a class="modal-content">
                <img src="" alt="Image">
                <h3 id=""></h3>
                <p id=""></p>
            </a>
        </div>
    </div>

    <div id="license">
        <p>Todos os direitos resevados ao Foodfy</p>
    </div>

    <script src="/scripts/recipe.js"></script>
</body>
</html>